.contact-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.contact-navbar {
  width: 100%;
  height: 120px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
  background-color: #080808;
}
 
.contact-navlink {
  display: contents;
}
 
.contact-image1 {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  text-decoration: none;
}
 
.contact-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-link1 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.contact-link2 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.contact-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-icon10 {
  width: 36px;
  height: 36px;
}
 
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.contact-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-icon12 {
  width: 24px;
  height: 24px;
}
 
.contact-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-link3 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-link4 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-link5 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.contact-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.contact-text1 {
  font-size: 48px;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
 
.contact-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-logo1 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.contact-logo2 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.contact-logo3 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.contact-logo4 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.contact-logo5 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.contact-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.contact-image2 {
  width: 50%;
  object-fit: cover;
}
 
.contact-container3 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tenunits);
  padding-right: var(--dl-layout-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
}
 
.contact-heading-container2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.contact-text2 {
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.contact-textinput {
  width: 50%;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-layout-space-tripleunit);
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.contact-button {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
 
.contact-section-separator7 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.contact-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.contact-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.contact-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-link7 {
  display: contents;
}
 
.contact-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.contact-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.contact-link8 {
  display: contents;
}
 
.contact-icon18 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
 
.contact-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.contact-icon20 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
@media(max-width: 991px) {
  .contact-heading {
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .contact-navbar {
    position: relative;
  }
  .contact-links-container1 {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    padding: var(--dl-layout-space-halfunit);
    margin-left: var(--dl-layout-space-tripleunit);
    border-radius: var(--dl-layout-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .contact-heading-container1 {
    width: 100%;
  }
  .contact-subscribe {
    flex-direction: column;
  }
  .contact-image2 {
    width: 70%;
  }
  .contact-container3 {
    width: 100%;
    align-items: center;
  }
  .contact-heading-container2 {
    width: 100%;
  }
  .contact-text2 {
    text-align: center;
  }
  .contact-text3 {
    text-align: center;
  }
  .contact-textinput {
    width: 100%;
  }
  .contact-button {
    width: 70%;
  }
}
 
@media(max-width: 479px) {
  .contact-burger-menu {
    margin-left: var(--dl-layout-space-doubleunit);
  }
  .contact-text1 {
    text-align: center;
  }
  .contact-image2 {
    width: 100%;
  }
  .contact-container3 {
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .contact-button {
    width: 100%;
  }
}
