.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-navbar-container {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}
 
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
  background-color: #080808;
}
 
.home-image1 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
 
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link10 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-link11 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon10 {
  width: 36px;
  height: 36px;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon12 {
  width: 24px;
  height: 24px;
}
 
.home-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link12 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-link13 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-link14 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-container12 {
  display: flex;
  align-self: stretch;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
 
.home-header {
  height: 500px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #000000;
}
 
.home-line1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  max-width: var(--dl-layout-size-maxcontent);
  align-self: stretch;
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-navlink {
  display: contents;
}
 
.home-image2 {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  text-decoration: none;
}
 
.home-line2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  max-width: var(--dl-layout-size-maxcontent);
  align-self: stretch;
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-image3 {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
 
.home-line3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  max-width: var(--dl-layout-size-maxcontent);
  align-self: stretch;
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-image4 {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
 
.home-line4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  max-width: var(--dl-layout-size-maxcontent);
  align-self: stretch;
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-bar {
  width: 100%;
  height: 25px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-hero {
  width: 100%;
  height: 300px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: flex-start;
}
 
.home-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading2 {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 40px;
  align-self: center;
  text-align: center;
  align-items: center;
  font-family: "Source Sans 3";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  justify-content: center;
  text-decoration: none;
}
 
.home-text10 {
  color: #8c8c8c;
}
 
.home-text12 {
  color: #ffffff;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
 
.home-text14 {
  color: #7f7f7f;
}
 
.home-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-cta-btn1 {
  color: #000000;
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  margin-right: var(--dl-layout-space-fourunits);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: #ffffff;
}
 
.home-text15 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
 
.home-cta-btn2 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text16 {
  font-size: 48px;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
 
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-icon-container1 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.home-icon14 {
  fill: #000000;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
 
.home-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading3 {
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text17 {
  font-size: 15px;
  text-align: center;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-text18 {
  font-weight: 700;
}
 
.home-text19 {
  font-style: normal;
}
 
.home-text20 {
  font-style: normal;
}
 
.home-text21 {
  font-weight: 700;
}
 
.home-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-icon-container2 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.home-icon16 {
  fill: #000000;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
 
.home-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading4 {
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text22 {
  font-size: 15px;
  text-align: center;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-text23 {
  font-weight: 700;
}
 
.home-text24 {
  font-style: normal;
}
 
.home-text25 {
  font-style: normal;
}
 
.home-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-icon-container3 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.home-icon18 {
  fill: #000000;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
 
.home-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading5 {
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text28 {
  font-size: 15px;
  text-align: center;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-text29 {
  font-weight: 700;
}
 
.home-text30 {
  font-style: normal;
}
 
.home-text31 {
  font-style: normal;
}
 
.home-text32 {
  font-style: normal;
}
 
.home-text33 {
  font-weight: 700;
}
 
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: center;
  background-color: #000000;
}
 
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text34 {
  color: #ffffff;
  text-align: center;
}
 
.home-content-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-about11 {
  width: 262px;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
 
.home-container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon20 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text35 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-container14 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon22 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text36 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text37 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-about12 {
  width: 244px;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
 
.home-container16 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon26 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text38 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-container17 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon28 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text42 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-container18 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon30 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text43 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
 
.home-button1 {
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.home-text44 {
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-logo-container {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 50px;
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: 50px;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-link16 {
  display: contents;
}
 
.home-logo1 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-decoration: none;
}
 
.home-link17 {
  display: contents;
}
 
.home-logo2 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-decoration: none;
}
 
.home-link18 {
  display: contents;
}
 
.home-logo3 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-decoration: none;
}
 
.home-link19 {
  display: contents;
}
 
.home-logo4 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-decoration: none;
}
 
.home-link20 {
  display: contents;
}
 
.home-logo5 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-decoration: none;
}
 
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-image5 {
  width: 50%;
  object-fit: cover;
}
 
.home-container19 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tenunits);
  padding-right: var(--dl-layout-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
}
 
.home-heading-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text45 {
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-textinput {
  width: 50%;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-layout-space-tripleunit);
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-button2 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
 
.home-section-separator7 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link21 {
  display: contents;
}
 
.home-icon32 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.home-icon34 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-link22 {
  display: contents;
}
 
.home-icon36 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
 
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-icon38 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
@media(max-width: 991px) {
  .home-heading1 {
    text-align: center;
  }
  .home-header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-line1 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-line2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-line3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-line4 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-bar {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 100%;
    align-items: center;
    margin-bottom: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container1 {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-layout-space-halfunit);
    margin-left: var(--dl-layout-space-tripleunit);
    border-radius: var(--dl-layout-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .home-cta-btn1 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .home-cta-btn2 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-card2 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-card3 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-text34 {
    text-align: center;
  }
  .home-content-container4 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about11 {
    width: 65%;
  }
  .home-about12 {
    width: 65%;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-subscribe {
    flex-direction: column;
  }
  .home-image5 {
    width: 70%;
  }
  .home-container19 {
    width: 100%;
    align-items: center;
  }
  .home-heading-container4 {
    width: 100%;
  }
  .home-text45 {
    text-align: center;
  }
  .home-text46 {
    text-align: center;
  }
  .home-textinput {
    width: 100%;
  }
  .home-button2 {
    width: 70%;
  }
}
 
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: var(--dl-layout-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
  .home-about11 {
    width: 100%;
  }
  .home-about12 {
    width: 100%;
  }
  .home-text44 {
    text-align: center;
  }
  .home-image5 {
    width: 100%;
  }
  .home-container19 {
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .home-button2 {
    width: 100%;
  }
}
